.buy {
  cursor: pointer;


  &:hover .buy__icon,
  &:focus .buy__icon {
    opacity: 1;
    color: $color-main;
  }

  &:active .buy__icon {
    opacity: 0.3;
  }
}

.buy__icon {
  color: $color-secondary;
  opacity: 0.2;
}
