.sup-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-secondary;
  border-top: 1px $color-service solid;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
  padding-top: 17px;

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.sup-nav__promo {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;

  & :last-child {
    padding-right: 0;
  }

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.sup-nav__link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.sup-nav__text {
  display: flex;
  align-items: center;
  font-size: 15px;
  flex-grow: 0;
  padding: 0;
  padding-right: 61px;
}

.sup-nav__delivery {
  font-size: 15px;
  font-weight: 400;
  max-width: 300px;
  color: $color-secondary--light;
  margin-left: auto;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
