.types {
  @include group;

  display: flex;
  flex-direction: column;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 42px;
  }
}

.types__title {
  @include legend;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 125px;
    padding-top: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 64px;
    margin-right: 68px;
  }
}

.types__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @media (min-width: $desktop-width) {
    max-width: 800px;
  }
}

.types__item {
  padding-top: 5px;
  min-width: 270px;

  @media (min-width: $tablet-width) {
    width: 400px;
    padding-top: 16px;
    padding-left: 6px;
  }
}
