.button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-secondary--light;
  background-color: $color-secondary--lightest;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px $color-secondary--light solid;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 16px;

  &:hover,
  &:focus {
    background-color: $color-secondary--light;
    color: $color-secondary--lightest;
  }

  &:active {
    color: lighten($color: $color-secondary--light, $amount: 28%);
  }
}

.button--popup {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-secondary--lightest;
  border: 2px $color-main solid;
  background-color: $color-main;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 16px;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $color-secondary--lightest;
    color: $color-main;
  }

  &:active {
    color: $color-secondary--light;
  }
}
