.buy {
  cursor: pointer;


  &:hover .buy__path,
  &:focus .buy__path {
    opacity: 1;
  }

  &:active .buy__path {
    opacity: 0.3;
  }
}

.buy__path {
  color: $color-secondary;
  opacity: 0.2;
}


