.colors {
  @include group;

  display: flex;
  flex-direction: column;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 44px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
    padding-bottom: 46px;
  }
}

.colors__title {
  @include legend;

  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 103px;
    padding-top: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 50px;
    margin-left: 60px;
    padding-top: 37px;
  }
}

.colors__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    max-width: 800px;
  }
}

.colors__item {
  padding-bottom: 10px;
  padding-top: 11px;
  width: 258px;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
    padding-right: 26px;
    padding-bottom: 6px;
    padding-top: 19px;
    width: 261px;
  }

  @media (min-width: $desktop-width) {
    width: 263px;
    padding-left: 21px;
    padding-bottom: 5px;
  }
}
