@mixin email {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-secondary--light;
  text-decoration: none;
  border-bottom: 1px $color-main--bright solid;
  cursor: pointer;
}
