.email {
  font: inherit;
  color: $color-secondary--light;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px $color-main--bright solid;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-main--bright;
  }

  &:active {
    opacity: 0.3;
  }
}
