.input {
  display: block;
  position: relative;
}

.input__title {
  @include legend;
  margin-bottom: 7px;
  min-width: 70px;

  @media (min-width: $tablet-width) {
    margin-right: 97px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 45px;
    margin-left: 60px;
    padding-top: 22px;
  }
}

.input__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $color-secondary;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-right: 25px;
    align-self: center;
  }
}

.input__text {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $color-secondary--light;
  background-color: transparent;

  width: 100%;
  padding: 16px 35px 16px 0;
  border: 0;
  border-bottom: 2px $color-secondary--light solid;

  @media (min-width: $tablet-width) {
    padding-left: 16px;
    padding-top: 15px;
    font-size: 19px;
  }

  &--error {
    border-bottom: 2px $color-error solid;
  }
}

.input:hover .input__text,
.input:focus .input__text {
  border-bottom: 2px $color-main solid;
}

.input:hover .input__icon,
.input:focus .input__icon {
  opacity: 1;
  color: $color-main;
}

.input__icon {
  color: $color-secondary;
  opacity: 0.2;
  position: relative;

  right: 0;
  top: 17px;

  &--tel {
    height: 25px;
    width: 45px;
  }

  &--email {
    height: 33px;
    width: 45px;
  }

  @media (max-width: $mobile-width-only) {
    align-self: flex-end;
    bottom: 42px;
    top: auto;
  }

  @media (min-width: $tablet-width) {
    right: 50px;
    top: 17px;

    &--tel {
      height: 25px;
      width: 45px;
    }

    &--email {
      height: 33px;
      width: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    right: 38px;
    top: 17px;

    &--tel {
      height: 25px;
      width: 45px;
    }

    &--email {
      height: 33px;
      width: 45px;
    }
  }
}

input::-moz-placeholder {
  color: transparentize($color-secondary--light, 0.7);
}

input::-webkit-input-placeholder {
  color: transparentize($color-secondary--light, 0.7);
}
