@import "./consts.scss";

@mixin legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-main;
  display: block;

  &::after {
    content: "";
    height: 1px;
    margin-left: 20px;
    background-color: $color-main;
  }
}
