@mixin border {
  border: 1px $color-service solid;
}

@mixin legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  color: $color-main;

  &::after {
    content: "";
    height: 1px;
    flex-grow: 1;
    margin-left: 20px;
    background-color: $color-main;
  }
}

@mixin group {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $color-secondary;
  border: none;
}

@mixin title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-secondary;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    width: 540px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    width: 650px;
    line-height: 56px;
    letter-spacing: -2px;
  }
}

@mixin zigzag {
  content: "";
  display: block;
  margin: 0;
  background-repeat: repeat;
  background-size: 320px 100%;
  background-image: url("../img/bg-zigzag-line.svg");
  height: 7px;
  width: 100%;
}
