.page-header {
  background-color: $color-secondary--lightest;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop-width) {
    max-width: 1160px;
    margin: 0 auto;
    z-index: 1;
    background-color: transparent;
    height: 89px;
  }
}
