.page-header {
  background-color: $color-secondary--lightest;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: $tablet-width-only) {
    padding: 0;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    padding: 0;
    background-color: transparent;
    height: 89px;
  }
}
