.page-main {
  background-color: $color-secondary--lightest;
}

.page-main__title-wrapper {
  background-color: $color-secondary--lighten;
  width: 100%;
  position: relative;
  min-height: 176px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    min-height: 165px;

    &::after {
      @include wavy;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 252px;
  }
}

.page-main__title {
  @include wrapper;

  font-size: 27px;
  background-color: $color-secondary--lighten;
  text-align: center;
  padding-top: 73px;
  width: 320px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 49px;
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 55px;
    letter-spacing: 0;
    padding-top: 95px;
  }
}

.page-main__desc {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $color-secondary--light;
}
