.reviews {
  background-color: $color-secondary--lightest;
  color: $color-secondary--light;
  font-weight: 700;
  margin-bottom: 34px;
  padding-bottom: 52px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 78px;
    padding-bottom: 135px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 186px;
    background-position-x: 50px;
    width: 1150px;
    margin: 0 auto;
  }

  &::after {
    @include zigzag;
  }
}

.reviews__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.reviews__title {
  @include title;
  margin-bottom: 24px;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    order: 1;
  }
}

.reviews__write {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    order: 2;
    width: 175px;
    align-self: flex-start;
    flex-grow: 0;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin-bottom: 37px;
  }
}
