.social {
  background-color: $color-secondary--lighten;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 18px 40px;

  @media (min-width: $desktop-width) {
    padding: 25px 40px;
  }
}

.social__item {
  height: 45px;
  width: 40px;
  margin: 0 9px;
  padding-top: 8px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    margin: 0 5px;
  }
}

.social__link {
  position: relative;
  width: 25px;
  color: $color-secondary;

  &--twitter .social__link-icon {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    width: 25px;
    height: 27px;
  }

  &--facebook .social__link-icon {
    content: "";
    position: absolute;
    top: -2px;
    left: 7px;
    width: 25px;
    height: 27px;
  }

  &--instagram .social__link-icon {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: 25px;
    height: 27px;
  }

  &:hover,
  &:focus {
    color: $color-main--darken;
  }

  &:active {
    opacity: 0.3;
  }
}
