.textarea {
  display: block;
}

.textarea__title {
  @include legend;
  min-width: 40px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    margin-right: 128px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 76px;
    margin-left: 60px;
    padding-top: 18px;
  }
}

.textarea__text {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $color-secondary--light;
  width: 100%;
  padding: 14px;
  height: 142px;
  resize: none;
  background-color: transparent;
  border: 2px $color-secondary--light solid;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &:focus,
  &:hover {
    border: 2px $color-main solid;
  }
}

textarea::-moz-placeholder {
  color: transparentize($color-secondary--light, 0.7);
}

textarea::-webkit-input-placeholder {
  color: transparentize($color-secondary--light, 0.7);
}
