.video-container {
  background-color: $color-secondary--lighten;
  position: relative;
  font-size: 0;
  line-height: 0;

  @media (min-width: $desktop-width) {
    max-width: 680px;
  }
}

.video-container__play {
  position: absolute;
  z-index: 1;

  height: 77px;
  width: 101px;
  background: url("../img/icon-play.svg") no-repeat 50% 50%;
  background-size: 101px 77px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%) scale(1);

  &:hover,
  &:focus {
    transform: translate(-50%, 50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, 50%) scale(0.8);
    opacity: 0.6;
  }
}

.video-container__img {
  width: 100%;
}
