.video-container {
  background-color: $color-secondary--lightest;
  position: relative;
}

.video-container__play {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 80px;
  width: 101px;
  height: 77px;
  font-size: 0;
  line-height: 0;
  background: url("../img/icon-play.svg") no-repeat 50% 50%;
  background-size: 101px 77px;
  cursor: pointer;
  transition: transform .2s ease, opacity .2s ease;

  &:hover,
  &:focus {
    top: 190px;
    left: 290px;
    width: 121px;
    height: 92px;
  }

  &:active {
    top: 210px;
    left: 307px;
    width: 80px;
    height: 61px;
    opacity: .6;
  }
}